@model BlindDating.ViewModels.InboxView
@{
    Layout = "_Layout";

}

<table class="table">
    <thread>
        <tr>
            <th>
                Subject
            </th>
            <th>
                From
            </th>
            <th>
                Action
            </th>
        </tr>
    </thread>

    @foreach (var item in Model.mailMessages)
    {
        <tr>
            <td>
                @item.MessageTitle
            </td>
            <td>
                @Model.fromProfiles.FirstOrDefault(id => id.Id == item.FromProfileId).DisplayName
            </td>
            <td>
                <a asp-action="Read" asp-route-id=" @item.Id">Read</a>
            </td>
        </tr>
    }

</table>
